SELECT p.full_name, p.role, p.status, c.class_name FROM profiles p JOIN classes c ON p.class_id = c.id WHERE p.role IN ('student', 'candidate');
SELECT r.class_name, r.subject_name, COUNT(*) as result_count FROM exam_results r GROUP BY r.class_name, r.subject_name;
